<p>details-book works!!!!!</p>
<div class="details-book" *ngFor="book">
  <mat-card>
    <mat-card-header>
      <mat-card-title>blabla</mat-card-title>
      <!-- <mat-card-title> {{ bookItem["volumeInfo"]["title"] }}</mat-card-title> -->
      <!-- <mat-card-subtitle>{{ book.authors }}</mat-card-subtitle> -->
    </mat-card-header>
    <!-- <img mat-card-image src="{{ book.avatar }}" alt="{{ book.last_name }}" />

  <button mat-raised-button [routerLink]="['/books']">Go back</button> -->
  </mat-card>
</div>
