<div class="google-serach-bar">
  <mat-form-field>
    <input
      matInput
      type="text"
      [(ngModel)]="searchString"
      class="search"
      placeholder="recherche sur google books"
    />
  </mat-form-field>

  <button class="search-icon" mat-raised-button (click)="search()">
    <mat-icon aria-hidden="false" aria-label="Example home icon"
      >search</mat-icon
    >
  </button>
</div>
<!-- <button mat-raised-button routerLink="/favoris">mes favoris</button> -->
<hr />

<div class="book" *ngFor="let bookItem of booksList">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image">
        <img
          mat-card-image
          *ngIf="bookItem['volumeInfo']['imageLinks']"
          src="{{
            bookItem['volumeInfo']['imageLinks']['thumbnail'] ||
              bookItem['volumeInfo']['imageLinks']['smallThumbnail']
          }}"
          title="{{ bookItem['volumeInfo']['title'] }}"
          class="image"
        />
      </div>
      <mat-card-title>{{ bookItem["volumeInfo"]["title"] }}</mat-card-title>
      <mat-card-subtitle>{{
        bookItem["volumeInfo"]["authors"]
      }}</mat-card-subtitle>

      <span class="spacer"></span>
    </mat-card-header>
    <button
      mat-raised-button
      class="button-favourite"
      (click)="addToFavourite(bookItem)"
    >
      <i
        class="fa fa-star"
        [ngClass]="{
          'in-favourite': json.parse(LocalStorage.getItem(bookItem['id']))
        }"
      ></i>
      Ajouter aux favoris
    </button>
    <!-- <button mat-raised-button [routerLink]="['/books', bookItem['id']]">
      see details
    </button> -->

    <button
      mat-raised-button
      [routerLink]="[
        '/books',
        bookItem['volumeInfo']['industryIdentifiers'][0]['identifier']
      ]"
    >
      see details
    </button>

    <button mat-raised-button (click)="openDialog(bookItem)">
      Open dialog
    </button>
  </mat-card>
</div>

<mat-paginator
  [length]="total"
  [pageSize]="per_page"
  [pageSizeOptions]="[3]"
  (page)="updateUsersList($event)"
>
</mat-paginator>
