.book-favourite {

  padding: 20px;
  text-align: center;
}

mat-card {
  margin: 15px auto;
}

mat-card-content {

  margin: 15px 5px 5px 5px;
}

img {
  max-width: 250px;
  max-height: 350px;
}

.form-notes {
  width: 100%;
}
